<h1>Register now!!</h1>

<h2>Already registered? <a href="/urls">Login</a> instead</h2>

<form method="POST" action="/register">
  <label>Email</label>
  <input name="email" type="email" />

  <label>Password</label>
  <input name="password" type="password" />

  <button type="submit">Register!</button>
</form>
